@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');



article,
aside,
body,
div,
figure,
footer,
h1,
h2,
header,
html,
main,
nav,
p,
section,
ul {
    border: 0;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
}

li {
    display: block;
    list-style: none;
}



.page {
    font-family: "M PLUS 1p", sans-serif;
}

.page__inner {
    display: flex;
    flex-direction: column;
}



.header {
    background-color: #ffffff;
    filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.1));
    height: 48px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header__inner {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 16px;
}

.logo {
    align-items: center;
    display: flex;
}

.logo__image {
    height: 24px;
    margin-right: 16px;
}

.logo__text {
    color: #404040;
    font-size: 16px;
    font-weight: bold;
}

.menu__button {
    display: none;
}

.menu__checkbox {
    display: none;
}

.menu__list {
    align-items: center;
    display: flex;
    height: 100%;
}

.menu__item {
    margin-left: 16px;
}

.menu__link {
    color: #404040;
    font-size: 12px;
    font-weight: bold;
    transition: color 0.1s;
}

.menu__link:hover {
    color: #c0c0c0;
}



.main__inner {
    padding-top: 48px;
}



.hero {
    background-color: #3c3c44;
    background-image: url("img/hero.jpg");
    background-position: center;
    background-size: cover;
    height: 384px;
}

.hero__inner {
    height: 100%;
    margin: auto;
    max-width: 960px;
    padding: 0 16px;
    position: relative;
}

.hero__title {
    position: absolute;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.hero__image {
    position: absolute;
    left: 32px;
}

.title {
    text-align: center;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
}

.title__ja {
    color: #dcdce4;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
}

.title__en {
    color: #bcbcc4;
    font-size: 16px;
}

.robot {
    height: 100%;
}

.robot__image {
    filter: saturate(50%);
    height: 100%;
    object-fit: cover;
    width: 512px;
}



.article {
    background-color: #fcfcff;
}

.article__inner {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 48px;
    padding-bottom: 64px;
}

.article__section {
    padding-top: 64px;
    margin-top: 0px;
}

.section__heading {
    color: #3c3c44;
    font-size: 24px;
    font-weight: bold;
    padding: 0 8px;
    padding-bottom: 12px;
    border-bottom: solid 2px #dcdce4;
}

.section__content {
    margin: 32px 0;
    padding: 0 8px;
}

.content {
    display: flex;
}

.content__text {
    color: #3c3c44;
    flex: 1;
    font-size: 16px;
}

.content__image {
    margin-left: 48px;
}

.screenshot__image {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    width: 256px;
}

.internal__link {
    text-decoration: underline;
}

.external__list {
    display: flex;
    justify-content: center;
}

.external__item {
    margin: 0 24px;
}

.external__link {
    background-color: #3c3c44;
    border-radius: 4px;
    color: #fcfcff;
    display: block;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    transition: background-color 0.1s;
    width: 128px;
}

.external__link:hover {
    background-color: #7c7c84;
}



.footer {
    background-color: #3c3c44;
    flex: 1;
}

.footer__inner {
    max-width: 960px;
    padding: 0 16px;
    padding-bottom: 48px;
    position: relative;
    margin: 0 auto;
}

.top {
    position: absolute;
    right: 48px;
    top: -16px;
    transition: filter 0.1s, transform 0.1s;
}

.top:hover {
    filter: brightness(75%);
    transform: translateY(-8px);
}

.top__image {
    width: 48px;
}

.service {
    height: 48px;
}

.service__list {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.service__item {
    margin: 0 16px;
}

.service__link {
    color: #bcbcc4;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.1s;
}

.service__link:hover {
    color: #dcdce4;
}

.copyright {
    color: #bcbcc4;
    font-size: 12px;
    text-align: center;
}



@media screen and (max-width: 768px) {
    .header__menu {
        position: relative;
    }

    .title__ja {
        font-size: 32px;
        line-height: 32px;
    }

    .menu__button {
        display: block;
    }

    .menu__list {
        background-color:#ffffff;
        display: block;
        height: auto;
        left: calc(100% + 16px);
        position: absolute;
        transition: transform 0.5s;
        width: 50vw;
    }
    
    .menu__item:nth-child(odd) {
        background-color: #f4f4f4;
    }

    .menu__checkbox:checked ~ .menu__list {
        transform: translateX(-100%);
    }

    .menu__item {
        margin-left: 0;
    }

    .menu__link {
        display: block;
        font-size: 16px;
        padding: 16px;
    }

    .button {
        cursor: pointer;
        height: 100%;
        position: relative;
        width: 24px;
    }

    .button::before,
    .button > span,
    .button::after {
        background-color: #404040;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform 0.5s, width 0.5s;
        width: 100%;
    }

    .button::before {
        transform: translateY(-6px);
    }

    .button::after {
        transform: translateY(6px);
    }

    .menu__checkbox:checked ~ .button > .button__bar {
        width: 0;
    }

    .menu__checkbox:checked ~ .button::before {
        transform: rotate(45deg);
    }

    .menu__checkbox:checked ~ .button::after {
        transform: rotate(135deg);
    }



    .hero {
        height: 256px;
    }

    .hero__title {
        right: 50%;
        transform: translate(50%, -50%);
    }

    .title {
        width: calc(100% - 32px);
    }

    .title__text-ja {
        font-size: 36px;
        line-height: 36px;
    }

    .hero__image {
        display: none;
    }



    .article__inner {
        padding: 0 24px;
        padding-bottom: 64px;
    }

    .section__content {
        margin-bottom: 0;
        padding: 0;
    }

    .content {
        display: block;
    }

    .content__text {
        padding: 8px;
    }

    .content__image {
        margin-left: 0;
        margin-top: 32px;
    }

    .screenshot__image {
        display: block;
        margin: 0 auto;
        max-width: 256px;
        width: 100%;
    }

    .external__list {
        display: block;
    }

    .external__item {
        margin: 0;
        margin-top: 32px;
    }

    .external__link {
        margin: 0 auto;
        max-width: 256px;
        width: 100%;
    }



    .top {
        right: 50%;
        top: -16px;
        transform: translateX(50%);
    }

    .top:hover {
        transform: translate(50%, -8px);
    }

    .footer__service {
        padding-top: 32px;
    }
}